@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
}

main {    
    max-width: 800px;
    width: 90%;
    margin: auto;
    margin-top: 55px;
    border-radius: 7px;
    padding: 40px;
    background: #e5e5e5;
    box-shadow: 3px 0px 30px rgba(156, 156, 156, 0.4);
}